<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.17/dist/vue.js"></script>
</head>
<body>
    <div id="app">
        <input type="text" v-model='defaultValue'>
        <button v-on:click="handleButton">提交</button>
        <ul>
            <li v-for="item in list">{{item}}</li>
            <p></p>
        </ul>
    </div>
    <script>
    var app=new Vue({
        el:"#app",
        data:{
            list:[],
            defaultValue:''
        },
        methods:{
            handleButton:function(){
                // this指向data
                this.list.push(this.defaultValue);
                console.log(this.defaultValue);
                // 清空
                this.defaultValue='';
            }
        }
    })
    </script>
</body>
</html>