<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.17/dist/vue.js"></script>
</head>
<body>
    <div id="root">
        <div>
            <input type="text" v-model='defaultValue'/>
            <button @click="handle">提交</button>
        </div>
        <ul>
            <!-- <li v-for="item in list">
                {{item}}
            </li> -->
            <todo-item v-bind:content="item"  
            v-for="(item,index) in list"
            @delete='handledelete(index)'></todo-item>
        </ul>
    </div>
    <script>
        // 创建一个全局组件名叫TodoItem
    // Vue.component("TodoItem",{
    //     props:['content'],
    //     template:"<li>{{content}}</li>"
    // })

    
    // 局部组件 conponents挂载到创建的vue实例中
    var TodoItem={
        props:['content'],
        template:"<li @click='handleclick'>{{content}}</li>",
        methods:{
            handleclick:function(){
                // $emit向外触发事件
                this.$emit('delete');
            }
        }
    }
    var app=new Vue({
        el:"#root",
        // 注册组件
        components:{
            TodoItem:TodoItem
        },
        data:{
            defaultValue:"",
            list:[]
        },
        methods:{
            handle:function(){
                // this指向data
                this.list.push(this.defaultValue);
                console.log(this.defaultValue);
                // 清空
                this.defaultValue='';
            },
            handledelete:function(index){
                this.list.splice(index,1);
            }
        }
    })
    </script>
</body>
</html>