<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.17/dist/vue.js"></script>
</head>
<body>
    <div id="app">
        <!-- <div v-if="show==='a'">{{message}}</div>
        <div v-else-if="show==='b'">886</div>
        <div v-else="show==='c'">ccc</div> -->
        <div v-if='show'>
            用户名：<input key="username"/>
        </div>
        <div v-else>
           密码：<input key="password"/>
        </div>
    </div>
    
    <script>
    var vm=new Vue({
        el:"#app",
        data:{
            message:"11111",
            // show:'c'
            show:false
        }
    })
    </script>
</body>
</html>