<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.17/dist/vue.js"></script>
    <style>
        .v-enter,.v-leave-to{
            opacity: 0;
        }
        .v-enter-active,.v-leave-active{
            transition: opacity 1s;
        }
    </style>
</head>
<body>
    <div id="root">
        <!-- 多个dom不能再复用用key 多个元素之间的过渡动画 -->
        <!-- mode in-out先进入再隐藏 out-in先隐藏再进入-->
        <transition mode='out-in'>
            <div v-if='show' key='hello'>hellow world</div>
            <div v-else key='bye'>Bye WORLD</div>
        </transition>
        <!-- 多个组件的过渡 -->
        <transition mode='out-in'>
            <child v-if='show'></child>
            <child-one v-else></child-one>
        </transition>
        <!-- 动态标签 -->
        <transition mode='out-in'>
            <component :is='type'></component>
        </transition>
        <button @click='handle'>toggle</button>
    </div>
    <script>
        Vue.component('child',{
            template:'<div>child</div>'
        })
        Vue.component('child-one',{
            template:'<div>child-one</div>'
        })
        var vm=new Vue({
            el:"#root",
            data:{
                show:true,
                type:'child'
            },
            methods:{
                handle:function(){
                    this.show=!this.show;
                    this.type=this.type==='child'?'child-one':'child'
                },
                
            }
        })
    </script>
    
</body>